*.pyc
*.orig
*.rej
*.tar.gz
tests/out.svg
*.iss
bezmisc.py
cubicsuperpath.py
inkex.py
simplepath.py
simplestyle.py
simpletransform.py
/textext-*-linux/
/TexText-Linux-*.tgz
/TexText-Linux-*.zip
/TexText-Windows-*.exe
