[BASIC]
argument-rgx=[a-z_][a-z0-9_]{0,30}
attr-rgx=[a-z_][a-z0-9_]{0,30}
const-rgx=[A-Z_][A-Z0-9_]{0,30}
variable-rgx=[a-z_][a-z0-9_]{0,30}

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    c-extension-no-member,
    cyclic-import,
    fixme,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-branches,
    too-many-format-args,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements